.md-field.md-has-password .md-toggle-password{
    left:0!important;
    right:auto;
}
.md-field label{
    right:0;
    left:auto;
}

.md-field .md-input[type=password]{
    padding-left: 30px;
}

p{
    text-align: right;
}
.md-list-item-content>.md-icon:first-child{
    margin-right: 0;
}
.md-drawer{
    width: 250px!important;
}
.md-checkbox .md-checkbox-label{
    padding-right:16px;
    padding-left: 0;
}
.md-checkbox{
    margin: 16px 0 16px 16px ;
}
.md-field.md-has-textarea:not(.md-autogrow) label{
    left:auto;
    right:16px;

}
.md-app .md-content.md-theme-default{
    background: #f7f7f7;
}
.md-card-header{
    font-size: 20px;
}
.md-card.md-theme-default{
    margin: 0;
    padding:16px ;
}